# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://user:password@localhost:3306/database_name"
JWT_SECRET="your_jwt_secret_here"
JWT_EXPIRES_IN=1d
GOOGLE_CLOUD_BUCKET="your_bucket_name"

# Admin Credentials (untuk seeding)
ADMIN_NAME="Admin"
ADMIN_EMAIL="admin@yoursite.com"
ADMIN_PASSWORD="your_secure_password"
